.a1{
    border: 0px;
}
.a2{
    display: flex;
    padding-left: 1%;
    gap: 10px;
}
.a3{
    display: flex;
}
.a4{
    display: flex;
    padding-left: 15%;
    gap: 70px;

    
}
.a5{

}
.a6{
    display: flex;
    padding-left: 19%;
    gap: 15px;
}
.a7{
    background-color: rgb(240,242,245);
    display: flex;
}
.a8{
       
}
.a9{
    display: flex;
}